<% content_for :advanced_search_filters, flush: true do %>
<div data-controller="reveal" data-reveal-hidden-class="hidden">
  <div class="">
    <div data-action="click->reveal#toggle" type="button" class="table-options-button text-center sm:inline-block">
        Search Options
    </div>
  </div>
  <div data-reveal-target="item" class="hidden w-full bg-green-400 text-3xl">
    <div>
      revealed
    </div>
  </div>
</div>
<% end %>
