<% content_for :results_text, flush: true do %>
  <div>
    <span class="font-semibold">Results: </span>
    <span id="results_amount"></span>  <%# placeholder span #results_amount updated by turbo stream %>
  </div>

    <div class="text-xs">
    <span id="results_details"></span> <%# placeholder span #results_details updated by turbo stream %>
  </div>
<% end %>
