<% content_for :title, 'Dashboard' %>

<div class="text-center">
  <br>
  <br>
  <br>
  <div class=" card">
    <div class="p-4">
    <p class="text-3xl"> Welcome <%=current_user.email if current_user%> </p>
    </div>
  </div>
</div>
