<style>
  .btn-space {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .red {
    background-color: #ff0000;
  }

  .red:hover{
       background: #d40404;
  }

  .red:focus {
    background-color: #d24a4a;
  }


  @media (min-width: 768px) {
    .text {
      display: none;
    }
  }
  @media (min-width: 992px) {
    .text {
      display: block;
    }
  }
</style>


<div class="field-unit__label" style="padding-bottom: 5em;">
   <strong>Select Roles</strong>
</div>

<div class="field-unit__field">
  <strong>  (User already has Role if highlighted) </strong>

  <%= f.select :roles, options_for_select( Role.all.order(:name).collect  { |role| [ role.name, role.id ] }, field.selected_options ), {}, multiple: true, class:'form-control' %>

  Current Role(s):

  <% User.find(params[:id]).roles.each do |role| %>
    <span>
      <%= role.name.to_s[0..-1].capitalize  %>
    </span>
  <% end %>

  <div class="btn-space">
    <button type="button" name="button" class="red" onclick="clearSelected()">
      Unselect Roles
    </button>
  </div>
</div>

<span class="text"style="color:gray;">
  <div class="field-unit__field" style="padding-bottom: 5em;">
      <br>
      To select multiple Roles
      <br>
      <strong>Windows:</strong> hold ctrl + click role
      <br>
      <strong>Mac:</strong> hold cmd + click role
      <br>
  </div>
</span>

<script>
  function clearSelected()
      {
  	    var elements = document.getElementById("user_roles").options;
      for(var i = 0; i < elements.length; i++){
        if(elements[i].selected)
  	    elements[i].selected = false;
      }
  }
</script>
