<%= turbo_stream.update "card_content" do %>
  <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">

    <%= render partial: "/application/data_display/stats/overview_card", locals: {
      is_active_card: current_page?(all_orders_purchaser_path(@purchaser)),
      card_title: "All ship orders",
      card_description: @purchaser.orders.count,
      card_link: (link_to "View all ship orders", all_orders_purchaser_path(@purchaser), class:"font-medium text-cyan-700 hover:text-cyan-900"),
      card_icon: (render partial: "/layouts/stacked_shell/headings/icons/order"),
    } %>

    <%= render partial: "/application/data_display/stats/overview_card", locals: {
    is_active_card: current_page?(purchaser_orders_path(@purchaser)),
    card_title: "Active ship orders",
    card_description: @purchaser.orders.unarchived.count,
    card_link: (link_to "View active ship orders", purchaser_orders_path(@purchaser), class:"font-medium text-cyan-700 hover:text-cyan-900"),
    card_icon: (render partial: "/layouts/stacked_shell/headings/icons/purchaser"),
    } %>

    <%= render partial: "/application/data_display/stats/overview_card", locals: {
    is_active_card: current_page?(completed_orders_purchaser_path(@purchaser)),
    card_title: "Completed ship orders",
    card_description: @purchaser.orders.archived.count,
    card_link: (link_to "View completed ship orders", completed_orders_purchaser_path(@purchaser), class:"font-medium text-cyan-700 hover:text-cyan-900"),
    card_icon: (render partial: "/layouts/stacked_shell/headings/icons/lightning"),
    } %>

  </div>
<% end %>
