<div id="<%= dom_id purchaser %>">

  <% content_for :page_heading_button do %>

    <div class="grid space-y-3 sm:inline-block sm:space-y-0">
      <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_edit", locals: {
        link_to_path: edit_purchaser_path(purchaser),
        link_to_text: "Edit ship",
      } %>

      <%= render partial: "/layouts/stacked_shell/headings/buttons/animated_add", locals: {
        with_turbo_modal: true,
        link_to_path: new_purchaser_order_path(purchaser),
        link_to_text: "Add ship order",
      } %>
    </div>

  <% end %>

</div>
