<%# content_for :title, "#{Purchaser.all.count}" + ' Ship'.pluralize(Purchaser.all.count) %>

<%#= render 'shared/under_header_card_options' %>
<%# if (current_user.has_role?('admin') || current_user.has_role?('staff')) %>
    <%#= render 'shared/new_modal' %>
<%# end %>
<%#= render 'shared/top_table_header' %>
<%#= render 'shared/top_table_header_two', total_pages: @resource.total_pages %>
<%#= render partial: 'purchasers/index', locals: { purchasers: @resource} %>
<%#= render "shared/pagination/pagination_buttons", total_pages: @resource.total_pages %>



<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->
<!-- **************************************************** -->


<% @card_title = "Ships" %>

<% content_for :header_button do %>
    <%= render partial: "/purchasers/add_purchaser_button" %>
<% end %>

<section id="purchasers-index-section">
  <!-- <h2 class="text-xl font-medium leading-6 text-gray-900">Overview</h2> -->
  <div class="-mt-1 mb-2 flex justify-center sm:justify-start">
    <div class="text-2xl sm:text-xl text-gray-800 inline-flex align-baseline text-center">
      <div class="mr-1 sm:mr-2">Overview: </div>
      <div class="text-gray-900 font-medium"> Ships </div>
    </div>
  </div>

  <div class="mt-2 grid grid-cols-1">
      <% content_for :ship_icon do %>
        <?xml version="1.0" encoding="iso-8859-1"?>
        <svg fill="#9CA3AF" height="20px" width="20px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 501.6 501.6" class="text-gray-400" xml:space="preserve">
        <g>
        	<g>
        		<path d="M498.4,330.096c-4.267-6.4-10.667-10.667-18.133-10.667H389.6v-78.933c0-11.733-9.6-21.333-21.333-21.333h-96v-33.067
        			c0-11.733-9.6-21.333-21.333-21.333h-68.267V42.096c0-11.733-9.6-21.333-21.333-21.333S140,30.362,140,42.096v122.667H71.733
        			c-11.733,0-21.333,9.6-21.333,21.333v133.333H20.533c-7.467,0-13.867,4.267-18.133,10.667c-3.2,6.4-3.2,13.867,0,20.267
        			l56.533,105.6c14.933,27.733,43.733,44.8,75.733,44.8H367.2c30.933,0,59.733-17.067,74.667-44.8l56.533-105.6
        			C502.667,343.962,502.667,336.496,498.4,330.096z M272.266,260.762H348v58.667h-75.733V260.762z M92,206.362h137.6v113.067H92
        			V206.362z M404.533,436.762c-7.467,14.933-22.4,23.467-38.4,23.467H134.666c-16,0-30.933-9.6-38.4-23.467l-40.533-74.667h389.333
        			L404.533,436.762z"/>
        	</g>
        </g>
        <g>
        	<g>
        		<path d="M417.333,25.029C415.2,14.362,405.6,5.829,393.866,6.895C371.466,9.029,348,11.162,325.6,9.029
        			c-6.4-1.067-13.867-2.133-21.333-3.2c-23.467-4.267-51.2-9.6-77.867,2.133c-10.667,5.333-14.933,17.067-10.667,27.733
        			c5.333,10.667,17.066,14.933,27.733,10.667c14.933-6.4,34.133-3.2,54.4,0c8.533,1.067,16,2.133,24.533,3.2
        			c7.467,1.067,16,1.067,23.467,1.067c18.133,0,36.267-2.133,53.333-2.133C409.866,46.362,418.4,36.762,417.333,25.029z"/>
        	</g>
        </g>
        </svg>
      <% end %>
      <%= render partial: "/shared/data_display/stats/overview_card", locals: {
        card_title: "Ships",
        card_description: "#{Purchaser.all.count} Ships",
        card_link: (link_to "All Ships", purchasers_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: yield(:ship_icon),
      } %>
  </div>
</section>

<% content_for :main_content_under do %>
  <div>
    <div class="sm:flex sm:items-center mb-5 sm:mb-7">
      <div class="sm:flex-auto">
        <div class="text-center sm:text-left">
          <h1 class="ml-2 text-2xl font-semibold leading-6 text-gray-900">
            All Ships Table
          </h1>
          <p class="mt-2 ml-2 mb-1 text-md text-gray-700">A list of all ships.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="rounded-md bg-white">
    <div class="flex-1">
      <%= render partial: "/purchasers/remix/table", locals:{
        table_title: "Ships",
        resource: @resource,
        query: @query,
        purchasers: @purchasers,
        purchasers_count: @purchasers.count,
        total_purchasers_count: Purchaser.all.count,
      } %>
    </div>
  </div>
<% end %>
