<div class="flex-auto text-center sm:text-left">
  <div class="flex justify-center space-y-3 sm:space-y-0 sm:justify-between flex-wrap">
    <div class="w-full sm:w-auto inline-block align-baseline">

      <%= content_tag(:h2, table_title, id:"table_title", class:"text-2xl font-semibold text-gray-900" ) %>

      <%= content_tag(:h4, table_description, id:"table_description", class:"text-lg text-gray-700" ) %>

    </div>

    <!-- <div class="w-full sm:w-auto">
      <%# if authorized_internal_user? and @purchaser %>
        <%#= render partial: '/purchasers/orders/table/heading/actions' %>
      <%# end %>
    </div> -->
    <% valid_purchaser_orders_table_heading_action_page = false %>
    <% if @purchaser && current_page?(purchaser_orders_path(@purchaser)) %>
      <% valid_purchaser_orders_table_heading_action_page = true %>
    <% end %>

    <div class="w-full sm:w-auto">
      <% if valid_purchaser_orders_table_heading_action_page %>
        <%= render partial: '/purchasers/orders/table/heading/actions' %>
      <% end %>
    </div>

  </div>
</div>
