<!-- <section class="mx-auto max-w-7xl px-4 pb-9 sm:px-6 lg:px-8">
  <div class="bg-white rounded-md pb-9">
    <div class="pt-8 mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <%#= yield %>
    </div>
  </div>
</section> -->


<div class="bg-white rounded-md pt-8 pb-9">
  <div class=" mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <%= yield %>
  </div>
</div>
