<header id="header" class="inline-black">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="mx-3 sm:mx-0 flex flex-wrap sm:flex-wrap-no sm:shrink justify-center sm:justify-between space-x-3">

      <div class="w-full self-center sm:self-auto sm:w-auto">
        <h1 class="w-full text-center sm:text-left text-3xl font-bold tracking-tight text-white">
          <div id="header_title">
            <%= yield :header_title %>
            <%= card_title %>
          </div>
        </h1>
      </div>

      <div class="mt-3 sm:mt-0 w-full self-center sm:self-auto sm:w-auto">
        <div class="w-full text-center sm:text-left">
          <div id="header_button">
            <%= yield :header_button %>
          </div>
        </div>
      </div>

    </div>
  </div>
</header>
