<div id="desktop-nav-wrapper" class="hidden lg:block">
  <%= render partial: "layouts/stacked_shell/nav/desktop_nav", locals:{
    search_input_placeholder_text: search_input_placeholder_text,
  } %>
</div>
<div id="mobile-nav-wrapper" class="block lg:hidden">
  <%= render partial: "layouts/stacked_shell/nav/mobile_nav", locals:{
    search_input_placeholder_text: search_input_placeholder_text,
  } %>
</div>
