<% content_for :search_bar do %>
  <%#= render partial: "/layouts/stacked_shell/nav/search_bar", locals:{
    search_input_placeholder_text: local_assigns[:search_input_placeholder_text],
  } %>

  <%= render partial: "/searches/search_bar", locals:{
    search_input_placeholder_text: local_assigns[:search_input_placeholder_text],
  } %>

<% end %>






<div id="nav-wrapper-desktop" class="hidden lg:block">
  <%= render partial: "layouts/stacked_shell/nav/desktop" %>
</div>

<div id="nav-wrapper-mobile" class="block lg:hidden">
  <%= render partial: "layouts/stacked_shell/nav/mobile" %>
</div>
