<% if Current.user %>
  <% content_for :search_bar do %>
    <%= render partial: "/searches/search_bar" %>
  <% end %>
<% end %>

<div id="nav-wrapper-desktop" class="hidden lg:block">
  <%= render partial: "layouts/stacked_shell/nav/desktop" %>
</div>

<div id="nav-wrapper-mobile" class="block lg:hidden">
  <%= render partial: "layouts/stacked_shell/nav/mobile" %>
</div>
