<nav id="secondary-nav" class="rounded-t-md bg-slate-200 py-3  mx-auto px-4 sm:px-6 lg:px-8">

  <% if user_signed_in? %>
    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
    <!-- Current: "bg-gray-200 text-gray-800", Default: "text-gray-600 hover:text-gray-800" -->
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select a tab</label>
      <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
        <!-- <option selected>Dashboard</option>
        <option>Orders</option>
        <option>All Orders</option>
        <option>Ships</option>
        <option>Vendors</option> -->

        <% if current_page?(dashboard_path) %>
          <option selected>Dashboard</option>
        <% else %>
          <option>Dashboard</option>
        <% end %>

        <% if current_page?(all_orders_path) %>
          <option selected>All Orders</option>
        <% else %>
          <option>All Orders</option>
        <% end %>

        <% if current_page?(orders_path) %>
          <option selected>Active Orders</option>
        <% else %>
          <option>Active Orders</option>
        <% end %>

        <% if current_page?(archived_orders_path) %>
          <option selected>Completed Orders</option>
        <% else %>
          <option>Completed Orders</option>
        <% end %>

        <% if  !current_page?(all_orders_path) && !current_page?(archived_orders_path) && (!action_name.include? 'index')  %>
          <% if (controller_path.include? 'orders') %>
            <option selected>Orders</option>
          <% else %>
            <option>Orders</option>
          <% end %>
        <% end %>


        <% if controller_path.include? 'purchasers' %>
          <option selected>Ships</option>
        <% else %>
          <option>Ships</option>
        <% end %>

        <% if controller_path.include? 'vendors' %>
          <option selected>Vendors</option>
        <% else %>
          <option>Vendors</option>
        <% end %>
      </select>
    </div>
  <% end %>

  <div class="hidden sm:block">
    <div class="flex justify-between">
      <nav class="flex space-x-4 inline-flex" aria-label="Tabs">
        <% secondary_desktop_navigation_resource_css_classes = "text-gray-600 hover:text-gray-900 hover:bg-gray-50 hover:border-gray-200 rounded-md px-3 py-2 text-sm font-medium" %>
        <% secondary_desktop_navigation_resource_css_classes_current = "bg-slate-50 text-gray-900 rounded-md px-3 py-2 text-sm font-semibold"  %>

        <%= render partial: "layouts/stacked_shell/nav/resource_links", locals:{
          resource_links_css_classes_current: secondary_desktop_navigation_resource_css_classes_current,
          resource_links_css_classes: secondary_desktop_navigation_resource_css_classes,
        } %>
      </nav>
      <div class="flex flex-wrap inline-flex">
        <%= user_badge %>
      </div>
    </div>
  </div>
</nav>
