<div class="min-w-full flex flex-wrap justify-between">
  <div class="w-full text-center sm:w-auto">
    <p class="text-sm text-gray-700 inline-block align-baseline">
      Showing
      <span class="font-medium"><%= local_assigns[:pagy].from %></span>
      to
      <span class="font-medium"><%= local_assigns[:pagy].to %></span>
      of
      <span class="font-medium"><%= local_assigns[:pagy].count %> </span>
      results
    </p>
  </div>
  <div class="w-full text-center sm:w-auto">
    <div class="text-sm inline-block align-baseline">
      <%== pagy_nav pagy %>
    </div>
  </div>
</div>
