<!-- overview card -->
<div class="overflow-hidden rounded-lg border border-gray-100 shadow">
  <div class="p-5">
    <div class="flex items-center">
      <div class="flex-shrink-0">
        <%= card_icon %>
      </div>
      <div class="ml-5 w-0 flex-1">
        <dl>
          <dt class="cursor-default truncate text-sm font-medium text-gray-500"> <%= card_title %> </dt>
          <dd>
            <div class="text-lg font-medium text-gray-900"> <%= card_description %> </div>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <div class="bg-gray-50 px-5 py-3">
    <div class="text-sm">
      <%= card_link %>
    </div>
  </div>
</div>
