<div id="page_heading">
  <div class="mb-3 flex justify-center sm:justify-start">
    <div class="text-2xl sm:text-xl text-gray-800 inline-flex align-baseline text-center">
      <div class="mr-1 sm:mr-2">Overview: </div>

      <div class="text-gray-900 font-medium">
        <div id="card_title">
          <%#= request.fullpath %>
        </div>
      </div>

    </div>
  </div>

  <div id="card_content">
  </div>
</div>
