<header id="header">
  <div id="page_header">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="w-full inline-flex flex-wrap justify-center sm:justify-between space-y-3 sm:space-y-0">
        <div class="w-full sm:w-auto">
          <h1 class="text-center sm:text-left">
            <div id="page_heading_title" class="text-4xl font-bold tracking-tight text-white">
              <%= turbo_stream.update "page_heading_title", @page_heading_title unless content_for?(:page_heading_title) %>
              <%= yield :page_heading_title %>
            </div>
          </h1>
        </div>
        <div class="w-full sm:w-auto">
          <div class="text-center sm:text-right">
            <div id="page_heading_button">
              <%= yield :page_heading_button %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
