<%= local_assigns[:form].fields_for :order_content, local_assigns[:order_content] do |order_content_form| %>
  <div class="block my-6 w-full">
    <article>
      <div class="block my-6 hover:cursor-default">
        <div class="w-full relative">
          <div class="absolute inset-0 flex items-center" aria-hidden="true">
            <div class="w-full border-t border-gray-200"></div>
          </div>
          <div class="relative flex justify-center">
            <span class="bg-white px-2 text-sm text-gray-400">Packaging materials</span>
          </div>
        </div>
      </div>
      <%= render partial: "/order_contents/new_packaging_materials_fields", locals: {
        form: order_content_form,
        order: local_assigns[:order],
        order_content: local_assigns[:order_content],
      } %>
    </article>
  </div>
<% end %>
