<% content_for :page_heading_card do %>
  <%= turbo_stream.update "card_content" do %>
    <div class="grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3">
      <%= render partial: "/application/data_display/stats/overview_card", locals: {
        is_active_card: current_page?(all_orders_path),
        card_title: "All orders",
        card_description: Order.all.size,
        card_link: (link_to "View all orders", all_orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/order"),
      } %>
      <%= render partial: "/application/data_display/stats/overview_card", locals: {
        is_active_card: current_page?(orders_path),
        card_title: "Active orders",
        card_description: Order.where(status: Order::Statusable::ACTIVE_STATUSES).size,
        card_link: (link_to "View active orders", orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/box_truck"),
      } %>
      <%= render partial: "/application/data_display/stats/overview_card", locals: {
        is_active_card: current_page?(completed_orders_path),
        card_title: "Completed orders",
        card_description: Order.all.archived.count,
        card_link: (link_to "View completed orders", completed_orders_path, class:"font-medium text-cyan-700 hover:text-cyan-900"),
        card_icon: (render partial: "/layouts/stacked_shell/headings/icons/lightning"),
      } %>
    </div>
  <% end %>
<% end %>
