<% content_for :page_heading_button do %>
  <%= render partial: '/orders/page_heading_button' %>
<% end %>

<% content_for :page_heading_card do %>
  <%= turbo_stream.update "card_title", "Active Orders" %>
  <% page_heading_card_partial_path = 'purchasers/page_heading_card' if "purchasers".in? request.controller_class.to_s.downcase %>
  <% page_heading_card_partial_path = 'vendors/page_heading_card' if "vendors".in? request.controller_class.to_s.downcase %>
  <% page_heading_card_partial_path ||= 'orders/page_heading_card' %>

  <%= render partial: page_heading_card_partial_path %>
<% end %>

<%#= render partial: "/orders/table", locals: {
  table_turbo_frame_tag: "orders",
  orders: @orders,
  pagy: @pagy,
  table_section_heading_title: "Active Orders",
  table_section_heading_description: "All active orders that have not yet been completed.",
  table_title: "Active Orders Table",
} %>

<section>
  <!-- <div class="rounded-md bg-white">
    <div class="pt-7 w-full px-4 sm:px-6 lg:px-8 ">
      <%#= render partial: "/data_tables/table", locals: {
        title: 'Active Orders',
        orders: @orders,
      } %>
      <%##= render partial: "/data_tables/table", locals: { title: 'some title', orders: @orders } %>
    </div>
  </div> -->
  <% title = "Active Orders" %>
  <% description = "all orders that have not yet been completed." %>
  <%= render partial: "/data_tables/layout", locals: {
    title: title,
    description: description,
    orders: @orders,
    pagy: @pagy,
  } %>
</section>

<!-- /orders/data_table -->
<%#= render partial: "/orders/data_table", locals: {
  table_turbo_frame_tag: "orders",
  orders: @orders,
  pagy: @pagy,
  table_section_heading_title: "Active Orders",
  table_section_heading_description: "All active orders that have not yet been completed.",
  table_title: "Active Orders Table",
} %>

<!--  -->
