<% content_for :title do %>

  <% if user_signed_in? %>
    <% content_for :title, "Pages#Home" %>
    <br>
    <div class="container">
      <div class="text-2xl">
        Welcome <%= current_user.first_name %>
      </div>
    </div>
  <% else %>
    <% content_for :title, "Pages#Home" %>
  <% end %>

<% end %>
