<!-- <h1>Editing vendor</h1>

<%#= render "form", vendor: @vendor %>

<br>

<div>
  <%#= link_to "Show this vendor", @vendor %> |
  <%#= link_to "Back to vendors", vendors_path %>
</div> -->

<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/back_btn_with_fallback", locals: {
    fallback_location: vendor_path(@vendor),
    fallback_location_text: "View vendor",
  } %>
<% end %>

<%= render 'form', vendor: @vendor %>
