<!-- <h1>New vendor</h1>

<%#= render "form", vendor: @vendor %>

<br>

<div>
  <%#= link_to "Back to vendors", vendors_path %>
</div> -->


<% content_for :page_heading_button do %>

  <% modified_link_to_path = :back unless (!(request.referer) || (request.referer.include? request.fullpath )) %>
  <% modified_link_to_text = "Back" unless (!(request.referer) || (request.referer.include? request.fullpath )) %>

  <% modified_link_to_path ||= vendors_path %>
  <% modified_link_to_text ||= "View ships" %>

  <%= link_to modified_link_to_path do %>
    <span class="scale-90 relative inline-flex items-center justify-center p-4 px-6 py-3 overflow-hidden font-medium text-white transition duration-300 ease-out border-2 border-gray-200 rounded-full shadow-md group">
      <span class="absolute inset-0 flex items-center justify-center w-full h-full text-gray-900 duration-300 -translate-x-full bg-gray-100 group-hover:translate-x-0 ease">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
        </svg>
      </span>
      <span class="absolute flex items-center justify-center w-full h-full text-gray-200 transition-all duration-300 transform group-hover:translate-x-full ease"> <%= modified_link_to_text %></span>
      <span class="relative invisible"> <%= modified_link_to_text %></span>
    </span>
  <% end %>

<% end %>

<div>
  <div class="flex justify-center sm:justify-start">
    <div class="flex-wrap text-2xl sm:text-xl text-gray-800 inline-flex align-baseline text-center">
      <div class="mr-1 sm:mr-2">Overview: </div>
      <div class="text-gray-900 font-medium"> New Vendor </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="rounded-md bg-white">
      <div class="flex-1 mt-4 md:mt-6 pb-8">
        <div class="mx-auto max-w-8xl px-4 sm:px-6 lg:px-8 ">
          <div class="space-y-8">
            <div class="mt-1 border-t border-gray-200">
              <%= render 'form', vendor: @vendor %>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
