<%= form_with model: [:vendor, @order] do |form| %>
<%#= form_with model: [:vendor, :order] do |form| %>
<%#= form_with model: [:vendor, @order] do |form| %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
