<%= turbo_stream.append "search_results" do %>
  <% @results.each do | result | %>
    <div class="py-3">
      <%= render partial: "/searches/results/result", locals:{
        result: result,
      } %>
    </div>
  <% end %>
<% end %>

<%#= turbo_stream.update "results_amount", @results_amount %>

<%# if @pagy %>
<!-- UPDATE
  #results_amount
 TO -->
 <%# updated_results_amount_text = "Showing #{@pagy.from} to #{@pagy.to} of #{@pagy.count} " %>
 <%#= turbo_stream.update "results_amount", updated_results_amount_text %>
<%# end %>

<% if @pagy.next.present? %>
  <%= turbo_stream.replace "pagination" do %>

      <%= turbo_frame_tag :pagination,
        loading: :lazy,
        src: searches_path(
          format: :turbo_stream,
          query: params[:query],
          page: @pagy.next
      ) %>

  <% end %>
<% end %>
