a {
  text-decoration: none;
  /* color: blue; */
}

a:hover {
  text-decoration: none;
}

.inline-action {
  display: none;
}

.inline-edit .inline-action {
  display: initial;
}

.hoverWrapper #hoverContent {
  display: none;
  /* position: absolute; */
}

.hoverWrapper:hover #hoverContent {
  display: block;
}

details > summary {
  list-style: none;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}
