<nav id="desktop-nav" class="border-b border-gray-700 bg-gray-800 lg:border-none">
  <div class="mx-auto max-w-7xl px-2 sm:px-4 lg:px-8">
    <div class="relative flex h-16 items-center justify-between lg:border-b lg:border-indigo-400 lg:border-opacity-25">
      <div class="flex items-center px-2 lg:px-0">
        <div class="flex-shrink-0">
          <div class="h-8 w-auto">

            <% navbar_brand_url = user_signed_in? ? dashboard_path : root_path %>
            <%= link_to "LMS", navbar_brand_url, class:"mt-0.5 text-slate-200 hover:text-slate-100 text-lg sm:text-xl lg:text-2xl inline-block h-8 w-auto" %>

          </div>
        </div>
        <div class="hidden lg:ml-10 lg:block">
          <div class="flex space-x-4">

            <% desktop_navigation_resource_css_classes = "text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm" %>
            <% desktop_navigation_resource_css_classes_current = "bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" %>

            <%= render partial: "layouts/stacked_shell/nav/resource_links", locals:{
              resource_links_css_classes_current: desktop_navigation_resource_css_classes_current,
              resource_links_css_classes: desktop_navigation_resource_css_classes,
            } %>

          </div>
        </div>
      </div>

      <div class="mx-auto flex flex-1 lg:justify-end lg:ml-6">
        <div class="w-1/3">
          <%= yield :search_bar %>
        </div>
      </div>

      <div class="hidden lg:ml-4 lg:block">
        <div class="flex items-center">
          <div data-controller="visibility" data-visibility-value-toggled="false" class="relative ml-3 flex-shrink-0">
            <div>
              <button type="button"  data-action="visibility#toggleTargets" class="flex rounded-md bg-gray-800 text-sm text-gray-400 border-2 border-gray-400 transition ease-in-out delay-150 hover:scale-105 duration-100 hover:border-slate-100 p-1 hover:text-slate-100 hover:text-md focus:ring-1 focus:ring-slate-200 focus:ring-offset-slate-100" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                <span class="sr-only">Open user menu</span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
              </button>
            </div>
            <!--
              Dropdown menu, show/hide based on menu state.
              Entering: "transition ease-out duration-100"
                From: "transform opacity-0 scale-95"
                To: "transform opacity-100 scale-100"
              Leaving: "transition ease-in duration-75"
                From: "transform opacity-100 scale-100"
                To: "transform opacity-0 scale-95"
            -->
            <div data-visibility-target="hideable" hidden class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

              <% profile_dropdown_navigation_css_classes = "block py-2 px-4 text-sm text-gray-500 hover:text-gray-600 hover:bg-slate-50" %>
              <% profile_dropdown_navigation_css_classes_current = "block py-2 px-4 text-sm text-gray-600 font-medium bg-slate-100" %>

              <%= render partial: "layouts/stacked_shell/nav/user_links", locals:{
                user_links_css_classes_current: profile_dropdown_navigation_css_classes_current,
                user_links_css_classes: profile_dropdown_navigation_css_classes,
              } %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
