<section>
  <div>
    <div class="flex text-gray-500 text-sm">
      <div class="w-full flex justify-start text-ce rounded-md rounded-md ring-1 ring-inset ring-gray-300">
        <div class="w-14 inline-flex items-center">
          <span class="ml-2">
            Boxes
          </span>
        </div>
        <div class="grow border rounded-r-md border-gray-300 inline-flex items-center">
          <span class="ml-2">
            <%= rand(0..3) %>
          </span>
        </div>
      </div>
      <div class="pl-3">
        <span class="isolate inline-flex rounded-md shadow-sm">
          <button type="button" class="relative inline-flex items-center rounded-l-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Add box</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
          <button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Remove box</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
            </svg>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="my-3 mt-2">
    <div class="flex text-gray-500 text-sm">
      <div class="w-full flex justify-start text-ce rounded-md rounded-md ring-1 ring-inset ring-gray-300">
        <div class="w-14 inline-flex items-center">
          <span class="ml-2">
            Crates
          </span>
        </div>
        <div class="grow border rounded-r-md border-gray-300 inline-flex items-center">
          <span class="ml-2">
            <%= rand(0..3) %>
          </span>
        </div>
      </div>
      <div class="pl-3">
        <span class="isolate inline-flex rounded-md shadow-sm">
          <button type="button" class="relative inline-flex items-center rounded-l-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Add crate</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
          <button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Remove crate</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
            </svg>
          </button>
        </span>
      </div>
    </div>
  </div>

  <div class="my-3 mt-2">
    <div class="flex text-gray-500 text-sm">
      <div class="w-full flex justify-start text-ce rounded-md rounded-md ring-1 ring-inset ring-gray-300">
        <div class="w-14 inline-flex items-center">
          <span class="ml-2">
            Pallets
          </span>
        </div>
        <div class="grow border rounded-r-md border-gray-300 inline-flex items-center">
          <span class="ml-2">
            <%= rand(0..3) %>
          </span>
        </div>
      </div>
      <div class="pl-3">
        <span class="isolate inline-flex rounded-md shadow-sm">
          <button type="button" class="relative inline-flex items-center rounded-l-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Add pallet</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
          <button type="button" class="relative -ml-px inline-flex items-center rounded-r-md bg-white px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-10">
            <span class="sr-only">Remove pallet</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 12h14" />
            </svg>
          </button>
        </span>
      </div>
    </div>
  </div>
</section>
