<h1>Welcome from Lightning Marine Services!</h1>
<p> You have been invited to join our company application.</p>
<p> An employee will reach out to you shortly to notify you of your new login credentials. We reccomend updating your password after logging in.</p>

<p> <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
