<% content_for :page_heading_button do %>
  <%= render partial: "/layouts/stacked_shell/headings/buttons/back_btn_with_fallback", locals: {
    fallback_location: @order,
    fallback_location_text: "View order",
  } %>
<% end %>
<h1> New order content</h1>
<%= form_with model: @order, id: "order_form" do |form| %>
  <%= render partial: "/layouts/stacked_shell/headings/form_errors", locals: {
    form: form,
  } if form.object.errors.any? %>
  <div class="inline-flex my-3 sm:col-span-6 hover:cursor-default">
    <div class="w-full relative">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-200"></div>
      </div>
      <div class="relative flex justify-center">
        <span class="bg-white px-2 text-sm text-gray-400">Order Contents</span>
      </div>
    </div>
  </div>
  <section id="order-order-content-fields">
    <div class="block my-6 hover:cursor-default">
      <div class="w-full relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-200"></div>
        </div>
        <div class="relative flex justify-center">
          <span class="bg-white px-2 text-sm text-gray-400">Order Content Details</span>
        </div>
      </div>
    </div>
    <div class="block my-6 w-full">
      <%= render partial: '/orders/order_contents/form', locals: { form: form, order: @order } %>
      <% unless @order.new_record? %>
        <div class="my-6 w-full">
          <%#= render partial: '/orders/order_contents/form/deliver_individual_content', locals: { form: form, order: @order } %>
        </div>
      <% end %>
    </div>
  </section>
<% end %>
