<!-- <%# frame_id = dom_id(form.object, "#{attribute}_turbo_frame") %>
<%#= turbo_frame_tag frame_id, class:"contents" do %>

  <div>
    <%#= yield %>
  </div>

  <%#= form.button class:"inline-action" do %>
    <div class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 mr-1">
      <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
      </svg>
    </div>
  <%# end %>


  <%#= link_to polymorphic_path(form.object), class:"inline-action" do %>
    <div class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
        <path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
      </svg>
    </div>
  <%# end %>

<%# end %> -->

<% if authorized_internal_user? %>
  <% frame_id = dom_id(form.object, "#{attribute}_turbo_frame") %>
  <%= turbo_frame_tag frame_id, class:"contents" do %>
    <div>
      <%= yield %>
    </div>
    <div class="w-full mr-1 flex md:justify-end space-x-1">
    <%= form.button class:"inline-action" do %>
      <span class="text-gray-400 hover:text-gray-500 decoration-gray-300 decoration-2 underline underline-offset-4">
        Save
      </span>
    <% end %>
    <%= link_to polymorphic_path(form.object), class:"inline-action" do %>
      <span class="text-gray-400 hover:text-gray-500 decoration-gray-300 decoration-2 underline underline-offset-4">
        Cancel
      </span>
    <% end %>
    </div>
  <% end %>
<% end %>
