name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14
        # image: postgres:11
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v2

      - name: Set up Ruby version (using project .ruby-version)
        uses: eregon/use-ruby-action@master

      - name: Install dependent libraries
        run: sudo apt-get install libpq-dev

      - name: Bundle install
        run: |
          gem install bundler
          bundle install --jobs 4 --retry 3

      - name: Setup the postgres database
        run: bundle exec rake db:setup

      - name: Run RSpec tests
        run: bundle exec rspec

      # - name: Checkout code
      #   uses: actions/checkout@v2
      #
      # - name: Setup Ruby and install gems
      #   uses: ruby/setup-ruby@v1
      #   with:
      #     bundler-cache: true
      #
      # - name: Install dependent libraries
      #   run: sudo apt-get install libpq-dev
      #
      # - name: Bundle install
      #   run: |
      #     gem install bundler
      #     bundle install --jobs 4 --retry 3
      #
      # - name: setup databases
      #   env:
      #   POSTGRES_PASSWORD: postgres
      #   POSTGRES_USER: postgres
      #   RAILS_ENV: test
      #   run: bundle exec rake db:setup
