<% if (main_functionality_controller? == true) && (current_action == 'show') %>

  <div class="container p-2">
    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
      <%= "Edit #{current_controller.capitalize.singularize}" %>
    </button>
  </div>

  <div class="collapse multi-collapse" id="collapseExample">
    <br>
    <div class="card card-body">
      <div class="text-4xl font-semibold">
        Edit <%= "#{current_controller.capitalize.singularize}" %>
        <%= "Name" unless current_controller == 'orders' %>
      </div>
      <hr>

      <% form_path = "#{controller_name}/form".to_s %>

      <%= render form_path %>

      <%# case current_controller %>
      <%# when 'purchasers' %>
        <%#= render "purchasers/form", purchaser: @purchaser %>
      <%# when 'vendors' %>
        <%#= render "vendors/form", vendor: @vendor %>
      <%# when 'orders' %>
        <%#= render "orders/form", order: @order %>
      <%# end %>

    </div>
  </div>

<% end %>
