<% if notice %>
  <div class="notice-msg-container alert alert-success text-center p-4">
    <span class="notice text-green-700 text-2xl"><%= notice %></span>
  </div>
<% end %>

<% if alert %>
  <div class="alert-msg-container alert alert-danger text-center p-4">
    <span class="alert text-red-700 text-2xl"><%= alert %></span>
  </div>
<% end %>
