<% if notice %>
  <div class="notice-msg-container alert alert-success text-center p-4">
    <span class="notice text-green-700 text-2xl">
      <%= flash[:notice] %>
    </span>
  </div>
<% end %>

<% if alert %>
  <div class="alert-msg-container alert alert-danger text-center p-4">
    <span class="alert text-red-700 text-2xl">
      <%#= flash[:alert].count > 1 ? flash[:alert].to_sentence : flash[:alert][0].humanize %>
      <%= flash[:alert].count > 1 ? flash[:alert].to_sentence : flash[:alert][0].humanize %>
    </span>
  </div>
<% end %>
