<%# if (main_functionality_controller? == true) && (current_action == 'index') %>
<% if ((main_functionality_controller? == true) && (current_action == 'index')) || current_page == 'orders#show' %>
<div class="py-4">

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-block btn-outline-primary" data-toggle="modal" data-target="#newModal">
      Add New <%= "#{current_controller.capitalize.singularize}" %> ( layouts/_new_modal )
  </button>
  <!-- Modal -->
  <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="newModalLabel">
            Add <%= "#{current_controller.capitalize.singularize}" %>
          </h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="text-4xl font-semibold">
            New <%= "#{current_controller.capitalize.singularize}" %>
          </div>
          <hr>

          <% if current_page == 'orders#show' %>
            <% form_path = 'orders/create_order_from_order' %>
          <% else %>
            <% form_path = "#{controller_name}/form".to_s %>
          <% end %>

          <%= render form_path %>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>

      </div>

    </div>
  </div>
</div>
<% end  %>
